body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif!important;
    box-sizing: border-box;
    overflow-x: hidden;
}
html, body{
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
:root{
    --main-color--:#00001a;
    --yellow-color--:#FFC553;
    --white-color--:#fff;
}
.fade-in {
  opacity: 0;
  transform: translateY(-50px);
  transition: opacity 1s ease 0.5s, transform 1s ease 0.5s;
  will-change: opacity, transform;
}
.fade-in.visible {
  opacity: 1;
  transform: translateY(0px);
}
.fade-in-left {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s ease 0.5s, transform 1s ease 0.5s;
  will-change: opacity, transform;
}
.fade-in-left.visible {
  opacity: 1;
  transform: translateY(0px);
}

/* navbar */
.navbar {
    opacity: 0;
    transform: translateY(-100px);
    transition: opacity 1s ease, transform 1s ease;
}
.navbar.visible {
    opacity: 1;
    transform: translateY(0);
}
@media (max-width: 992px) {
  .navbar-toggler {
      order: 2;
      position: absolute;
      right: 10px;
      top: 10px;
  }
  .navbar-brand.d-block.d-lg-none {
      order: 1;
      position: absolute;
      right: 60px;
      top: 10px;
  }
  .collapse.navbar-collapse {
      margin-top: 0px;
  }
  .d-flex.align-items-center {
      margin-left: 0px;
  }
}
.dropdown-menu {
  column-count: 3;
  column-gap: 2rem;
  line-height: 30px;
  display: none;
}
.nav-item.dropdown:hover .dropdown-menu {
  display: block;
}
.nav-item .nav-link, .nav-item .nav-link:focus {
  color: var(--white-color--);
}
.navbar {
  background-color: var(--main-color--);
}
.left-nav .nav-link, .navbar-brand {
  color: var(--white-color--) !important;
}
.navbar .nav-link:hover:not(.left-nav .nav-link) {
  color: var(--yellow-color--);
}
.login {
  border: solid var(--white-color--) 1px;
  border-radius: 10px;
}
.login:hover {
  background-color: var(--yellow-color--);
  color: var(--main-color--) !important;
}
.shop:hover {
  color: var(--yellow-color--) !important;
}
.menu .dropdown-item {
  text-align: center;
}
.menu .dropdown-item:hover {
  background-color: var(--yellow-color--);
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.338);
}
.navbar .navbar-toggler {
  color: var(--white-color--) !important;
  border-color: var(--white-color--) !important;
  border: solid 2px;
  font-size: 25px;
}
.navbar .navbar-toggler:focus {
  box-shadow: none;
}
.navbar .navbar-toggler[aria-expanded="true"] {
  border: none;
}



/* #################################################################### */
/* Scroll Up */
.up {
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: var(--yellow-color--);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px; 
  transform: scale(0);
  transition: 0.3s ease;
  cursor: pointer;
  z-index: 9999;
}
.up img{
  width: 30px;
  height: auto;
}
.up:hover {
  bottom: 35px;
  transform: scale(1.1);
  /* background-color: var(--main-color--); */
}
.up.show {
  transform: scale(1);
}
@media (max-width: 768px) {
  .up {
      bottom: 20px;
      right: 20px;
      width: 45px;
      height: 45px;
  }
}
@media (max-width: 480px) {
  .up {
      bottom: 15px;
      right: 15px;
      width: 40px;
      height: 40px;
  }
}

/* ########################################################################## */
/* carousel */
.carousel {
  opacity: 0;
  transform: translateX(-200px);
  transition: opacity 1s ease, transform 1s ease;
}
.carousel.visible {
  opacity: 1;
  transform: translateY(0);
}
.carousel-item img {
    object-fit: cover;
    height: calc(100vh - 57.33px);
    filter: brightness(0.6);
}
@media (max-width: 767px) {
    .carousel-caption {
    font-size: 1rem;
    }
}
.carousel-item {
    position: relative;
    padding-bottom: 30px;
}
.custom-caption {
    position: absolute;
    top: 40px;
    left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    border-radius: 5px;
}
.custom-caption h1, .custom-caption p {
    margin: 0;
}
@media (max-width: 768px) {
    .custom-caption {
        padding: 5px;
    }
    .custom-caption h1 {
        font-size: 1.5rem;
    }
    .custom-caption p {
        font-size: 1rem;
    }
}
@media (max-width: 480px) {
    .custom-caption {
        padding: 5px;
    }
    .custom-caption h1 {
        font-size: 1.2rem;
    }
    .custom-caption p {
        font-size: 0.9rem;
    }
}

/* ########################################################################## */
/* tape */
.tape {
    display: flex;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
}
.tape span {
    padding: 10px 20px;
    font-size: 1.2rem;
    font-weight: bold;
    white-space: nowrap;
    color: var(--white-color--);
    background-color: var(--main-color--);
}
.tape span {
    animation: scroll-left 10s linear infinite;
}
@keyframes scroll-left {
    0% {
    transform: translateX(0%);
    }
    100% {
    transform: translateX(-100%);
    }
}

/* ########################################################################## */
/* cards */
.card.hidden {
  opacity: 0;
  transform: translateY(70px);
  transition: opacity 1s ease 0.3s, transform 1s ease 0.3s;
}
.card.visible {
  opacity: 1;
  transform: translateY(0);
}
.product-section{
  padding: 20px 0 50px;
}
.section-title {
  padding-top: 35px;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: var(--main-color--);
}
.grid {
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, 13rem);
    gap: 1rem;
    justify-content: center;
  }
  @media (max-width:750px) {
    .grid {
      padding: 1rem;
      display: grid;
      grid-template-columns: repeat(auto-fit, 10.1rem);
      gap: 1rem;
      justify-content: center;
    }
  
  }
  .card {
    position: relative;
    background-color: #1e1e1e;
    overflow-y: hidden;
    border-radius: 7px;
    min-height: 300px;
    transition: transform 0.3s ease;
    box-shadow: 0.1rem 0.1rem 1rem rgba(0, 0, 0, 0.1);
  }
  .card-front h1 {
    color: #fff;
    margin: 0;
    letter-spacing: 0;
    line-height: 1;
  }
  .card h5 {
    margin: 0;
    display: block;
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
  }
  .card a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }
  .sale{
    position: absolute;
    right: 5px;
    background-color: red;
    color: var(--white-color--);
    padding: 5px;
    border-radius: 5px 0 5px 5px;
    font-weight: bold;
  }
  .card a:hover ~ .card-overlay,
.card a:focus ~ .card-overlay {
  transform: translate3d(0, 0, 0);
}
  .card a:hover ~ .card-overlay h5,
  .card a:focus ~ .card-overlay h5 {
    transform: translate3d(0, 0, 0);
    color: #1e1e1e;
  }
  .card a:hover ~ .card-overlay .card-body,
  .card a:focus ~ .card-overlay .card-body {
    opacity: 1;
  }
  .card-front-wrap {
    padding: 10px 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    object-fit: cover;
  }
  .card-front {
    margin-bottom: 10px;
  }
  .card-footer {
    margin-top: auto;
    color: #fff;
  }
  .card-footer p {
    font-size: 12px;
    margin-bottom: 2px;
    margin-top: 5px;
    color: var(--main-color--);
  }
  .card-footer i {
    margin-right: 10px;
  }
  .card-overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    position: absolute;
    width: 100%;
    top: 0;
    background-color: var(--yellow-color--);
    transition: transform 500ms;
    transform: translate3d(0, 100%, 0);
    z-index: 1;
    opacity: 0;
    cursor: pointer;
  }
  .card:hover .card-overlay {
    transform: translateX(0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  .card-body {
    flex-grow: 1;
    padding: 1rem;
    opacity: 0;
    transition: opacity 500ms 100ms;
    text-align: center;
  }
  .card-body p {
    margin: 0;
  }
  .register-button {
    display: inline-block;
    padding: 4px 8px;
    border: 2px solid #1e1e1e;
    border-radius: 10px;
    color: #1e1e1e;
    margin-top: 20px;
    transition: background-color 0.3s, color 0.3s;
    position: relative;
    cursor: pointer;
  }
  .register-button:hover {
    background-color: red!important;
    border: var(--white-color--) 1px solid!important;
    border: none;
    color: #fff;
    transform: scale(1.1);
  }
  .card-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  .card-footer .description {
    font-size: 14px;
    margin-bottom: 1px;
    text-align: center;
  }
  .card-footer .price {
    font-size: 16px;
    font-weight: bold;
    color: var(--yellow-color--);
    text-align: center;
  }
  .card-overlay h5 {
    font-size: 18px;
    color: #1e1e1e;
    font-weight: bold;
    cursor: pointer;
  }
  .card-overlay .card-body {
    padding: 20px;
    opacity: 1;
    transition: opacity 0.3s ease;
  }
  
  /* ########################################################################## */
  /* Slider */
  .testimonials-section {
    padding: 15px 0px 50px;
    background: #faf4f5;
  }

  .testimonials-section .slider-wrapper {
    overflow: hidden;
    text-align: center;
  }

  .testimonials-section .section-title {
    margin-top: 15px;
  }
  .testimonials-section .testimonial {
    user-select: none;
    padding: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .testimonials-section .testimonial .user-image {
    width: 200px;
    height: 200px;
    margin-bottom: 50px;
    object-fit: cover;
    border-radius: 50%;
    transition: all 0.2s;
  }
  
  .testimonials-section .testimonial .user-image:hover {
    transform: scale(1.1);
  }
  
  .testimonials-section .testimonial .name {
    margin-bottom: 16px;
    font-size: 1.12rem;
  }
  
  .testimonials-section .testimonial .feedback {
    line-height: 25px;
  }
  
  .testimonials-section .swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    opacity: 1;
    background: var(--yellow-color--);
  }
  
  .testimonials-section .swiper-slide-button {
    color: var(--yellow-color--);
    margin-top: -50px;
    transition: 0.2s ease;
  }
  
  .testimonials-section .swiper-slide-button:hover {
    color: var(--main-color--);
  }
  
  .testimonials-section ul {
    padding-left: 0rem !important;
  }
  @media (max-width: 450px){
    .testimonials-section .testimonial .user-image {
      width: 180px;
      height: 180px;  
      height: auto;
  }
}
    
  /* ########################################################################## */
  /* gallery */
  .gallery-section {
    padding: 20px 0 50px;
    background-color: #ffc65319;
  }
  .gallery-section .section-title{
    margin-bottom: 40px;
  }
  .gallery-section .gallery-list {
    display: flex;
    gap: 32px;
    flex-wrap: wrap;
  }
  .gallery-section .gallery-list .gallery-item {
    overflow: hidden;
    border-radius: 8px;
    width: calc(100% / 3 - 32px);
  }
  .gallery-section .gallery-item .gallery-image {
    width: 100%;
    height: 100%;
    cursor: zoom-in;
    transition: 0.3s ease;
  }
  .gallery-section .gallery-item:hover .gallery-image {
    transform: scale(1.3);
  }
  @media (max-width:450px) {
    .gallery-section .gallery-list .gallery-item {
      width: calc(100% / 2 - 32px);
    }
  }

  /* ########################################################################## */
  /* Subscribe */
  .Subscribe{
    background-color: var(--yellow-color--);
}
.Subscribe .row input{
    border: none;
    border-bottom: 1px solid var(--white-color--);
}
.Subscribe .row{
    text-align: center;
}
.Subscribe .row .btn:hover{
    background-color: var(--white-color--);
    color: var(--main-color--);
}
.Subscribe .row input:focus{
    outline: none;
}
.Subscribe ::placeholder{
    color: var(--white-color--);
}
.Subscribe .row button{
    background-color: var(--main-color--);
    color: var(--yellow-color--);
}
.Subscribe form input:not([type="submit"]):focus::placeholder {
    opacity: 0;
    transition: .3s;
}

@media (max-width: 767px) {
    .Subscribe .row .btn {
        width: 100%;
    }
    .Subscribe .row input {
        width: 100%;
    }
    .Subscribe .row .col-md-4,
    .Subscribe .row .col-md-8 {
        text-align: center;
    }
}

@media (min-width: 768px) {
    .Subscribe .row .btn {
        width: auto;
    }
}

  /* ########################################################################## */
  /* footer */
  .container {
    max-width: 100%;
    margin: auto;
}
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
ul {
    list-style: none;
    padding: 0;
}
.footer {
    background-color: var(--main-color--);
    padding: 70px 0 20px;
}
.footer-col {
    flex: 1;
    padding: 0 15px;
    margin-bottom: 30px;
}
.footer-col h4 {
    font-size: 18px;
    color: var(--white-color--);
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: var(--yellow-color--);
    height: 2px;
    width: 70px;
}
.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}
.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #bbbbbb;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.2s ease;
}
.footer-col ul li a:hover {
    color: var(--white-color--);
    padding-left: 8px;
}
.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: var(--white-color--);
    transition: all 0.2s ease;
}
.footer-col .social-links a:hover {
    color: #24262b;
    background-color: var(--white-color--);
}
@media (max-width: 1024px) {
    .footer-col {
        flex: 0 0 48%;
    }
}
@media (max-width: 767px) {
    .footer-col {
        flex: 0 0 48%;
    }
    .footer-col .social-links a {
      height: 25px;
      width: 25px;
      line-height: 25px;
    }
}